<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <p><a class="link" href="{{ url_for('index')}}"> Home </a></p>
        {% if data.status %}
            <p style="float: right"> Welcome: {{ data.username }} </p>
            <p style="float: right"><a class="link" href="{{ url_for('logout')}}"> Logout </a></p>
        {% else %}
            <p style="float: right"><a href="{{ url_for('login')}}"> Login </a></p>
            <p style="float: right"><a href="{{ url_for('signup')}}"> Signup </a></p>
        {% endif %}
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>