{% extends 'base.html' %}
{% block content %}
<head><title>Login</title></head>
<h1> Login </h1>
<div class="form-container">
    <form method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <h5> Don't have an account? <a href="/signup">Make one!</a></h5>
        </div>
        <button class="btn" type="submit">Login</button>
    </form>
</div>
{% endblock %}